* {
  box-sizing: border-box;
}

body {
  margin: 0;
  --font-inter: 'Inter', sans-serif;
  --action-background: #f8f8f8;
  --button-color: #ff0079;
  --text-color: #888;
  --title-color: #999;
  --title-hover-color: #666;
  font-family: var(--font-inter);

  --product-element-background: #FFF4F4;
  --product-element-hover-background: #ffd9d9;
  --product-element-is-selected: #ff8714;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

img[src=""], img:not([src]) {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  flex-shrink: 0;
}

.load-container {
  position: relative;
}

.load-container.is-loading::before {
  content: '';
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #f8f8f8;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}


/* Button */
button {
  border: 0;
  outline: none;
  position: relative;
}

button .button__tooltip {
  position: absolute;
  background-color: #000;
  padding: 4px 10px;
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 20px;
}

button:hover .button__tooltip {
  opacity: 1;
  transition: opacity .3s 1s;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-inter);
  color: var(--button-color);
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  align-items: center;
  gap: 10px;
  background-color: var(--action-background);
  transition: background-color .3s;
}

.button:hover {
  cursor: pointer;
  background-color: #fff;
}

.button .button__icon {
  transition: transform .3s ease-out;
}

.button.button--primary {
  color: #fff;
  position: relative;
  background: transparent;
  overflow: hidden;
  justify-content: center;
  gap: 10px;
}

.button.button--primary {
  z-index: 1;
}

.button.button--primary::before {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  aspect-ratio: 1 / 1;
  transform: translateY(-40%);
  z-index: -1;
  background: linear-gradient(90deg, #FF0079 30%, #FF8714 70%);
  transition: transform 0.5s;
}

.button.button--primary:hover::before {
  transform: translateY(-40%) rotate(-180deg);
}

.button.button--primary-action {
  position: relative;
  border-radius: 24px;
  background-color: #fff;
  z-index: 0;
}

.button.button--primary-action span {
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent
}

.button:hover .button__icon:first-child {
  transform: translateX(-15%);
}

.button:hover .button__icon:last-child {
  transform: translateX(15%);
}

.button.button--primary-action::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  z-index: -1;
  border-radius: 20px;
}

.button.button--primary-action::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #fff;
  z-index: -1;
  border-radius: 22px;
}

/* Main */
.main {
  background-color: #EFEFEF;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 30px;
}

/* Product builder */
product-builder {
  display: flex;
  position: relative;
  gap: 15px;
}

.product-builder .product-builder__customization-panel {
  width: 350px;
  flex-shrink: 0;
}

.product-builder .product-builder__playground {
  flex-grow: 1;
}

/* Customization panel */
.customization-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.customization-panel__product {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customization-panel__product-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.customization-panel__product.customization-panel__product .product-info__image {
  border-radius: 5px;
  object-fit: cover;
}

.customization-panel__product.customization-panel__product .product-info__title {
  font-weight: 600;
  font-size: 14px;
  max-width: 120px;
}

.customization-panel__product.customization-panel__product .product-info__option-selector {
  font-size: 14px;
  color: var(--text-color);
}

.customization-panel__product-quantity {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 3px;
  font-weight: 700;
  letter-spacing: 0.25px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 20px;
  background-color: #E5FEF2;
  color: #03ca82;
  transition: background-color .3s, color .3s;
}

.customization-panel__product-quantity.is-not-enough {
  color: #ff0079;
  background-color: #fff3f3;
}

/* Tools */
.tools {
  background-color: #fff;
  border-radius: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tools__tabs {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0 10px;
}

.tools__tab {
  outline: none;
  background-color: transparent;
  border: 0;
  padding: 10px 20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  flex: 1 0 33%;
  transition: color .3s;
}

.tools__tab:not(.is-selected):hover {
  color: var(--title-hover-color);
}

.tools__tab.is-selected {
  color: #000;
}

.tools__tab:hover{
  cursor: pointer;
}

.tools__tabs-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 20px;
  background-color: #e4e4e4;
}

.tools__tabs-runner {
  position: absolute;
  width: 33.33%;
  height: 5px;
  border-radius: 20px;
  position: left;
  background-color: #ff8714;
  transform: translate(100%, -25%);
  left: 0;
  transition: transform .3s;
}

.tools__page-wrapper {
  padding: 10px 0;
  flex-grow: 1;
}

/* Pages */

.page {
  display: none;
  height: 100%;
  gap: 15px;
  flex-direction: column;
}

.page.is-selected {
  display: flex;
}

.page__header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  gap: 10px;
}

.page.page--products {
  justify-content: space-between;
}

.page--products .page__search-bar {
  color: var(--title-color);
  flex-grow: 1;
  background-color: var(--action-background);
  border-radius: 50px;
  display: flex;
  gap: 15px;
  padding: 10px 20px;
}

.page--products .page__search-bar input {
  flex-grow: 1;
  outline: none;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  color: var(--title-color);
  background-color: transparent;
}

.page--products .page__product-container {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  margin: 0 10px;
}

.page--products .page__products {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 15px 10px;
  overflow-y: scroll;
}

.tools.product-grid--line .page__products {
  display: block;
}

.tools.product-grid--line .page__products .page__product {
  margin-bottom: 10px;
}

.page__product {
  user-select: none;
  position: relative;
  padding: 10px;
  background-color: var(--action-background);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

.page__product .page__product-image {
  object-fit: cover;
  width: 100%;
}

.tools.product-grid--line .page__product {
  flex-direction: row;
  flex-basis: 100%;
  align-items: center;
}

.tools.product-grid--line .page__product .page__product-image {
  width: 78px;
  height: 67px;
  margin-bottom: 0;
}

.page__product.is-selected {
  background-color: transparent;
}

.page__product:hover {
  cursor: pointer;
}

.page__product > * {
  z-index: 1;
}

.page__product.is-selected::before {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  border-radius: 20px;
}

.page__product.is-selected::after {
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  background-color: var(--action-background);
  border-radius: 18px;
}

.page__product-image {
  margin-bottom: 10px;
  border-radius: 20px;
  align-self: center;
}

.page__product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page__product-title,
.page__product-price {
  padding: 0 5px;
}

.page__product-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 98%;
}

.page__product-price {
  line-height: 19px;
  color: var(--text-color);
}

.page__product-button {
  margin: 0 10px;
}
/* Image page */
.page__images {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: flex-start;
  gap: 15px;
}

.page__images-container {
  padding: 0 10px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.page__image-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--product-element-background);
  transition: background-color .3s;
}

.page__image-wrapper:not(.is-loading):hover {
  cursor: pointer;
}

.page__image-wrapper.is-loading {
  z-index: 0;
  pointer-events: none;
}

.page__image-wrapper.is-loading::before {
  content: '';
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #f8f8f8;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.page__image-wrapper.is-selected {
  background-color: #000;
}

.page__image-wrapper.is-selected .page__image {
  opacity: 0.7;
}

.page__image-wrapper.is-selected::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12.0156' r='11' fill='%23FF8714'/%3E%3Ccircle cx='12.0193' cy='12.035' r='10.1014' stroke='white' stroke-width='2.44882'/%3E%3Cpath d='M9.26562 11.9902L11.2136 13.9383L15.1097 10.0422' stroke='white' stroke-width='2.44882' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  z-index: 2;
}

.page__image-wrapper.is-selected .page__image-deleter,
.page__image-wrapper .page__image-deleter {
  opacity: 0;
  pointer-events: none;
}

.page__image-wrapper:not(.is-selected):hover .page__image-deleter {
  pointer-events: all;
  position: absolute;
  padding: 20px;
  right: -10px;
  top: -10px;
  z-index: 5;
  opacity: 1;
  transition: opacity .3s;
}

.page__image-wrapper .page__image-deleter .page__image-deleter-icon {
  width: 22px;
  height: 22px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__image-wrapper .page__image-deleter .page__image-deleter-icon svg {
  display: block;
}

/* .page__image-wrapper.is-selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
} */

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.page__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  opacity: 1;
  transition: opacity .3s;
}

.page--images .page__upload {
  position: relative;
  margin: 0 10px;
}

.page__upload .upload__wrapper {
  pointer-events: none;
  position: absolute;
  bottom: 50%;
  z-index: -2;
  left: 0;
  right: 0;
  transition: height .3s;
  border-top-left-radius: 20px;
  padding-bottom: 30px;
  border-top-right-radius: 20px;
  height: 0;
  overflow: hidden;
}

.page__upload .button {
  z-index: 2;
  width: 100%;
}

.page__upload .upload__wrapper.is-open {
  pointer-events: all;
  background-color: #fff;
  box-shadow: -1px 0 5px var(--text-color);
  z-index: 1;
}

/* Tools page */

.page__tools-container {
  position: relative;
  flex-grow: 1;
}

.page__tools-container .page__tools-list {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Tool */
.tool {
  display: block;
  width: 100%;
  opacity: 1;
  transition: opacity .3s;
  background-color: var(--action-background);
  border-radius: 10px;
}

.tool__trigger {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.tool__trigger .tool__info {
  display: flex;
  gap: 10px;
}

.tool__title {
  font-weight: 700;
  font-size: 14px;
}

.tool__collapsible {
  height: 0;
  overflow: hidden;
  transition: height .3s;
}

.tool__collapsible-inner {
  padding: 15px;
  border-top: 1px solid #e4e4e4;
}

.tool:not([data-open]) .tool__collapsible-inner {
  border-top: 1px solid transparent;
}

.tool__dropdown {
  position: relative;
  height: 0;
  width: 15px;
  padding-bottom: 15px;
}

.tool__plus, .tool__minus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .3s;
}

.tool[data-open] .tool__plus {
  opacity: 0;
}

.tool:not([data-open]) .tool__minus {
  opacity: 0;
}

.tool__layout-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 3px;
}

.tool__layout-grid .layout-icon {
  width: 57px;
  height: 57px;
  display: flex;
}

.layout-icon {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
}

.layout-icon svg {
  z-index: 5;
}

.layout-icon .layout__border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 7px;
  z-index: 1;
}

.layout-icon::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  border-radius: 7px;
  transition: opacity .3s;
  z-index: 2;
}

.layout-icon::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 3;
}

.layout-icon.is-selected::before {
  opacity: 1;
}

/* Text tool */
.text-tool {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid #e4e4e4;
}

.text-tool__header {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid #e4e4e4;
}

.text-tool__header .text-tool__selector-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.text-tool__header .text-tool__selector-wrapper:first-of-type {
  border-right: 1px solid #e4e4e4;
  padding-right: 20px;
}

.text-tool__header .text-tool__selector-wrapper:last-of-type {
  padding-left: 20px;
}

.text-tool__header .text-tool__selector {
  background-color: transparent;
  outline: 0;
  border: 0;
  appearance: none;
  color: var(--text-color);
}

.text-tool__text {
  padding: 15px;
  background-color: #fff;
  outline: none;
  border: 0;
  border-radius: 10px;
}

/* Upload */
.upload__wrapper .upload__variant {
  position: relative;
  color: var(--text-color);
  transition: background-color .3s;
}

.upload__wrapper .upload__variant:hover,
.upload__wrapper .upload__variant:hover label {
  cursor: pointer;
  background-color: var(--action-background);
}

.upload__variant input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.upload__variant input + label,
.upload__variant > span {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 20px;
}


/* switch */
.switch {
  box-sizing: content-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1px;
  border-radius: 50px;
  background: var(--action-background);
  color: var(--title-color);
}

.switch__runner {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #fff;
  top: 1px;
  bottom: 1px;
  transform: translateX(0%);
  border-radius: 50%;
  transition: transform .3s;
}

.switch__item {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  transition: color .3s;
}

.switch__item.is-selected {
  color: #ff8714;
}

.switch__item:hover {
  cursor: pointer;
}

/* option selector */
product-option-selector {
  display: block;
}

.option-selector {
  position: relative;
  user-select: none;
  width: fit-content;
}

.option-selector__selected {
  display: flex;
  gap: 7px;
  align-items: center;
}

.option-selector__selected:hover {
  cursor: pointer;
}

.option-selector__options {
  position: absolute;
  top: 100%;
  display: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: max-content;
  min-width: 140px;
  background-color: #fff;
  z-index: 5;
}

.option-selector__options.is-open {
  display: flex;
  flex-direction: column;
}

.option-selector__item {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 98%;
}

.option-selector__item:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.option-selector__item:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.option-selector__item:hover {
  cursor: pointer;
  background-color: #f8f8f8
}

/* Radio */
.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.radio:hover {
  cursor: pointer;
}

.page__radio.radio {
  color: var(--text-color);
  font-size: 14px;
  padding: 0 5px;
}

.radio__toggler {
  position: relative;
  background-color: #FF8714;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.radio__toggler::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color .3s;
}

.radio.option-2 .radio__toggler::before {
  background-color: transparent;
}

/* Playground */
.studio-view {
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.studio-view__container {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 0px;
  bottom: 50px;
  padding-right: 100px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 50px 20px;
  overflow-y: scroll;
}

.studio-view__block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.studio-view__block.block__photobook-page {
  width: 100%;
}

/* Product Element */
product-element {
  display: block;
}

.product-element {
  user-select: none;
  position: relative;
  padding-top: 15px;
  opacity: 1;
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-element:hover {
  cursor: pointer;
}

.product-element::before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 5px;
  background-color: var(--product-element-is-selected);
  border-radius: 20px;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.product-element.is-selected::before {
  opacity: 1;
}

.product-element .product-element__picture {
  width: 100%;
  height: 100%;
}

.product-element.is-default .editable-picture {
  width: 200px;
  height: 200px;
}

/* Editable picture */
editable-picture {
  display: block;
}

.editable-picture {
  position: relative;
  background-color: var(--product-element-background);
  box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.25);
  transition: background-color .3s;
}

.editable-picture:hover,
.editable-picture.is-selected {
  cursor: pointer;
  background-color: var(--product-element-hover-background);
}


.editable-picture.is-empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editable-picture:not(.is-empty) .editable-picture__empty-state {
  display: none;
}

.editable-picture.is-empty .editable-picture__empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}

.editable-picture .editable-picture__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity .3s;
}

/* product-controls */
product-controls {
  display: inline-flex;
  justify-content: center;
}

.product-controls {
  padding: 0 10px;
  margin: 0 auto;
  color: var(--text-color);
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  align-items: center;
  gap: 20px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  max-width: 300;
  width: fit-content
}

.studio-view__block:hover .product-builder__element + .product-controls,
.studio-view__block > .product-builder__element.is-selected + .product-controls {
  pointer-events: all;
  opacity: 1;
}

.product-controls__button {
  color: var(--text-color);
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: color .3s;
}

.product-controls__button:hover {
  cursor: pointer;
  color: #000;
}

.product-controls__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.product-controls__quantity span {
  min-width: 25px;
  text-align: center;
  color: #000;
}

.product-controls__quantity .product-controls__button {
  background-color: var(--action-background);
  transition: background-color .3s;
}

.product-controls__quantity .product-controls__button:hover {
  background-color: #e4e4e4;
}

/* Error Toast */
error-toast {
  display: flex;
}

.error-toast {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 600;
  background-color: #fff3f3;
  color: #ff0079;
  border-radius: 20px;
  opacity: 0;
  padding: 15px 20px;
  transition: transform .3s cubic-bezier(0,-0.01,.27,1.4), opacity .3s;
  font-size: 16px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.error-toast[show] {
  opacity: 1;
  transform: translate(-50%, calc(-100% - 100px));
}

.error-toast__errors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Image chooser */
image-chooser {
  display: block;
}

.image-chooser {
  position: absolute;
  display: none;
  padding: 10px;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: #fff;
  opacity: 0;
  transition: opacity .3s;
  border-radius: 20px;
  z-index: 10;
}

.image-chooser.is-open {
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image-chooser .images-list-container {
  flex-grow: 1;
  position: relative;
}

.image-chooser .images-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 20px;
  gap: 15px;
}

.image-chooser .button-group {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 2px solid #efefef;
}

.image-chooser .button-group .button-group__action {
  display: flex;
  gap: 15px;
}

.image-chooser .image-chooser__logout {
  order: -1;
}

.image-chooser .button-group .button--primary {
  min-width: 200px;
}

.image-chooser .image-container {
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: #efefef;
  border-radius: 20px;
  transition: background-color 0.3s .3s;
}

.image-chooser .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 20px;
  transition: opacity .3s;
}

.image-chooser .image-container.is-selected {
  background-color: #000;
  transition: background-color 0s;
}

.image-chooser .image-container.is-selected .image {
  opacity: 0.75;
}

.image-chooser .image-container span.select-tag {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.image-chooser .image-container.is-selected span.select-tag {
  display: block;
}

.image-chooser:hover {
  cursor: pointer;
}

.image-chooser .image-chooser__login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-chooser .button.button--facebook {
  background-color: #4674DC;
  border: 1px solid #4674DC;
  color: #fff;
  position: relative;
}

.image-chooser .button.button--facebook.button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50px;
  transition: background-color .3s;
}

.image-chooser .button.button--facebook.button:hover::before {
  background-color: rgba(0,0,0,0.05);
}

/* Photobook page */
photobook-page {
  display: grid;
  box-shadow: 0px 70.8148px 44.2593px -70.8148px rgba(0, 0, 0, 0.25);
  aspect-ratio: 2 / 1;
}

.photobook-page {
  width: 100%;
  position: relative;
  border: 1px solid #ddd;
  opacity: 1;
  transition: border-color .3s, opacity .15s;
  --textarea-font-size: 16px;
  cursor: pointer;
}

.photobook-page::before {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
}

.photobook-page.is-selected {
  border-color: #ff8714;
}

.photobook-page .photobook-page__gradient {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 80px;

  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.1;

  transition: opacity .3s;
  z-index: 1;
}

.photobook-page .textarea-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photobook-page .textarea {
  border: 0;
  outline: 0;
  max-width: 300px;
}

.photobook-page .textarea.line {
  height: calc(var(--textarea-font-size) + 2px);
}

.photobook-page[photobook-page="whole"] {
  padding: 35px;
  display: flex;
}

.photobook-page[photobook-page="whole"] .editable-picture {
  width: 100%;
  height: 100%;
}

.photobook-page[photobook-page="wholeFrameless"] {
  display: flex;
}

.photobook-page[photobook-page="wholeFrameless"] .editable-picture {
  width: 100%;
  height: 100%;
}


.photobook-page[photobook-page="bigWithThreeSquare"] {
  padding: 35px;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  grid-template-columns: repeat(27, 1fr);
}

.photobook-page[photobook-page="bigWithThreeSquare"] .editable-picture:first-of-type {
  grid-area: 1 / 1 / -1 / 24;
}

.photobook-page[photobook-page="bigWithThreeSquare"] .editable-picture:nth-of-type(2) {
  grid-area: 1 / 24 / 2 / -1;
}

.photobook-page[photobook-page="bigWithThreeSquare"] .editable-picture:nth-of-type(3) {
  grid-area: 2 / 24 / 3 / -1;

}

.photobook-page[photobook-page="bigWithThreeSquare"] .editable-picture:nth-of-type(4) {
  grid-area: 3 / 24 / -1 / -1;
}

.photobook-page[photobook-page="rightImageWithText"],
.photobook-page[photobook-page="leftImageWithText"],
.photobook-page[photobook-page="twoRectangleImagesWithText"] {
  grid-template-columns: 1fr 1fr;
}

.photobook-page[photobook-page="twoRectangleImagesWithText"] > div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 15% 10%;
}

.photobook-page[photobook-page="twoRectangleImagesWithText"] > div .editable-picture {
  flex-grow: 1;
}
