
<div
  class="tile__frame"
  style="background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMC41IDE2MSAxNjEiPjxwYXRoIGZpbGw9IiMzNzM3MzciIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTAgLjVoMTYxdjE2MUgwVi41Wm0xNTEuNDUgOC41NEg4LjU1djE0Mi43SDl2LjI2aDE0M1YxMGgtLjU1di0uOTZaIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiLz48cGF0aCBmaWxsPSIjMDAwIiBkPSJNMS4yMiAxLjcyVjE2MS41SDE2MVYxLjcySDEuMjJabTE1MS4yNCAxNTEuMjRIOS43NlYxMC4yNmgxNDIuN3YxNDIuN1oiLz48L3N2Zz4=');"
></div>