<script src="./assets/orders.js" defer></script>
<link rel="stylesheet" href="./assets/orders.css">

<script>
  /*! js-cookie v3.0.5 | MIT */
  !function(e,t){"object"==typeof exports&&"undefined"!=typeof module?module.exports=t():"function"==typeof define&&define.amd?define(t):(e="undefined"!=typeof globalThis?globalThis:e||self,function(){var n=e.Cookies,o=e.Cookies=t();o.noConflict=function(){return e.Cookies=n,o}}())}(this,(function(){"use strict";function e(e){for(var t=1;t<arguments.length;t++){var n=arguments[t];for(var o in n)e[o]=n[o]}return e}var t=function t(n,o){function r(t,r,i){if("undefined"!=typeof document){"number"==typeof(i=e({},o,i)).expires&&(i.expires=new Date(Date.now()+864e5*i.expires)),i.expires&&(i.expires=i.expires.toUTCString()),t=encodeURIComponent(t).replace(/%(2[346B]|5E|60|7C)/g,decodeURIComponent).replace(/[()]/g,escape);var c="";for(var u in i)i[u]&&(c+="; "+u,!0!==i[u]&&(c+="="+i[u].split(";")[0]));return document.cookie=t+"="+n.write(r,t)+c}}return Object.create({set:r,get:function(e){if("undefined"!=typeof document&&(!arguments.length||e)){for(var t=document.cookie?document.cookie.split("; "):[],o={},r=0;r<t.length;r++){var i=t[r].split("="),c=i.slice(1).join("=");try{var u=decodeURIComponent(i[0]);if(o[u]=n.read(c,u),e===u)break}catch(e){}}return e?o[e]:o}},remove:function(t,n){r(t,"",e({},n,{expires:-1}))},withAttributes:function(n){return t(this.converter,e({},this.attributes,n))},withConverter:function(n){return t(e({},this.converter,n),this.attributes)}},{attributes:{value:Object.freeze(o)},converter:{value:Object.freeze(n)}})}({read:function(e){return'"'===e[0]&&(e=e.slice(1,-1)),e.replace(/(%[\dA-F]{2})+/gi,decodeURIComponent)},write:function(e){return encodeURIComponent(e).replace(/%(2[346BF]|3[AC-F]|40|5[BDE]|60|7[BCD])/g,decodeURIComponent)}},{path:"/"});return t}));
</script>

<div class="page-width orders">
  <div class="orders__heading">
    <h1 class="orders__title">My saved drafts</h1>

    <div class="orders__subheading text">
      <p>
        Find here your saved designs and not already added to the basket.
      </p>
      <p>For products already ordered, find them in “My account”.</p>
    </div>
  </div>

  <ul class="orders__list is-loading" data-drafts-list="{{ customer.id }}" data-shop="{{ shop.permanent_domain }}">
    <li class="order">
      <div class="order__info">
        <div 
          class="order__image skeleton-frame" 
        >
        <div class="skeleton-block" style="border-radius: 10px;"></div>
        </div>
        <div class="order__subinfo">
          <div class="order__title skeleton-frame" style="width: 100px; height: 30px">
            <div class="skeleton-block"></div>
          </div>
          <div class="text skeleton-frame" style="width: 168px; height: 25px;">
            <div class="skeleton-block"></div>
          </div>
        </div>
      </div>
      
      <div class="order__line"></div>
      
      <div class="order__button-group">
        <div class="skeleton-frame skeleton-button">
          <div class="skeleton-block"></div>
        </div>
        
        <div class="skeleton-frame skeleton-button">
          <div class="skeleton-block"></div>
        </div>
      </div>
    </li>

    <li class="order">
      <div class="order__info">
        <div 
          class="order__image skeleton-frame" 
        >
        <div class="skeleton-block" style="border-radius: 10px;"></div>
        </div>
        <div class="order__subinfo">
          <div class="order__title skeleton-frame" style="width: 100px; height: 30px">
            <div class="skeleton-block"></div>
          </div>
          <div class="text skeleton-frame" style="width: 168px; height: 25px;">
            <div class="skeleton-block"></div>
          </div>
        </div>
      </div>
      
      <div class="order__line"></div>
      
      <div class="order__button-group">
        <div class="skeleton-frame skeleton-button">
          <div class="skeleton-block"></div>
        </div>
        
        <div class="skeleton-frame skeleton-button">
          <div class="skeleton-block"></div>
        </div>
      </div>
    </li>

    <li class="order">
      <div class="order__info">
        <div 
          class="order__image skeleton-frame" 
        >
        <div class="skeleton-block" style="border-radius: 10px;"></div>
        </div>
        <div class="order__subinfo">
          <div class="order__title skeleton-frame" style="width: 100px; height: 30px">
            <div class="skeleton-block"></div>
          </div>
          <div class="text skeleton-frame" style="width: 168px; height: 25px;">
            <div class="skeleton-block"></div>
          </div>
        </div>
      </div>
      
      <div class="order__line"></div>
      
      <div class="order__button-group">
        <div class="skeleton-frame skeleton-button">
          <div class="skeleton-block"></div>
        </div>
        
        <div class="skeleton-frame skeleton-button">
          <div class="skeleton-block"></div>
        </div>
      </div>
    </li>
  </ul>

  <div class="orders__actions">
    <a class="button button--card-product" href="/apps/product-builder">
      <span>Add more products</span>

      <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="6" cy="5.99976" r="6" fill="#FF8714"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.45669 3.49976C6.45669 3.22361 6.23284 2.99976 5.95669 2.99976C5.68055 2.99976 5.45669 3.22361 5.45669 3.49976V5.45672H3.5C3.22386 5.45672 3 5.68057 3 5.95672C3 6.23286 3.22386 6.45672 3.5 6.45672H5.45669V8.41355C5.45669 8.68969 5.68055 8.91355 5.95669 8.91355C6.23284 8.91355 6.45669 8.68969 6.45669 8.41355V6.45672H8.41379C8.68994 6.45672 8.91379 6.23286 8.91379 5.95672C8.91379 5.68057 8.68994 5.45672 8.41379 5.45672H6.45669V3.49976Z" fill="white"/>
      </svg>
    </a>
  </div>
</div>

<confirm-modal state="close">
      
</confirm-modal>
