*, *::after, *::before {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  --font-inter: 'Inter', sans-serif;
  --action-background: #f8f8f8;
  --button-color: #ff0079;
  --text-color: #888;
  --title-color: #999;
  --title-hover-color: #666;
  font-family: var(--font-inter);

  overflow: hidden;

  --product-element-background: #FFF4F4;
  --product-element-hover-background: #ffd9d9;
  --product-element-is-selected: #ff8714;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body.fixed {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 749px) {
  body {
    height: 100svh
  }

  .desktop {
    display: none;
  }
}

.text {
  font-weight: 400;
  color: var(--text-color);
}

img[src=""], img:not([src]) {
  opacity: 0 !important;
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  flex-shrink: 0;
}

.load-container {
  position: relative;
}

.load-container.is-loading::before {
  content: '';
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #f8f8f8;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.mobile {
  display: none;
}

.button.button--primary-action.header__checkout-button:disabled {
  cursor: not-allowed;
}

@media (max-width: 749px) {
  .header {
    padding: 10px 15px;
  }

  .header__logo {
    display: none;
  }

  /* .header__checkout-button::before,
  .header__checkout-button::after,
  .header__checkout-button span,
  .header__checkout-button .button__icon {
    display: none;
  } */

  .header__checkout-button .mobile {
    color: #FF0079;
    transition: color .3s;
  }

  .header__checkout-button:disabled .mobile {
    color: #999;
  }

  .mobile {
    display: inherit
  }

  .back-button span,
  .back-button .button__icon,
  .back-button::before,
  .back-button::after {
    display: none;
  }

  .button.back-button {
    padding: 10px 5px;
  }
}


/* Button */
button {
  border: 0;
  outline: none;
  position: relative;
}

button .button__tooltip {
  position: absolute;
  background-color: #000;
  padding: 4px 10px;
  color: #fff;
  opacity: 0;
  transition: opacity .3s;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border-radius: 20px;
}

button:hover .button__tooltip {
  opacity: 1;
  transition: opacity .3s 1s;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-inter);
  color: var(--button-color);
  letter-spacing: 0.05em;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  align-items: center;
  gap: 10px;
  background-color: var(--action-background);
  transition: background-color .3s;
}

.button:hover {
  cursor: pointer;
  background-color: #fff;
}

.button .button__icon {
  transition: transform .3s ease-out;
}

.button.button--primary {
  color: #fff;
  position: relative;
  background: transparent;
  overflow: hidden;
  justify-content: center;
  gap: 10px;
}

.button.button--primary {
  z-index: 1;
}

.button.button--primary::before {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  aspect-ratio: 1 / 1;
  transform: translateY(-40%);
  z-index: -1;
  background: linear-gradient(90deg, #FF0079 30%, #FF8714 70%);
  transition: transform 0.5s;
}

.button.button--primary:hover::before {
  transform: translateY(-40%) rotate(-180deg);
}

.button.button--primary-action {
  position: relative;
  border-radius: 24px;
  background-color: #fff;
  z-index: 0;
}

.button.button--primary-action span {
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent
}

.button:hover .button__icon:first-child {
  transform: translateX(-15%);
}

.button:hover .button__icon:last-child {
  transform: translateX(15%);
}

.button.button--primary-action::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  z-index: -1;
  border-radius: 20px;
}

.button.button--primary-action::after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-color: #fff;
  z-index: -1;
  border-radius: 22px;
}

/* Main */
.main {
  background-color: #EFEFEF;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 30px;
}

/* Product builder */
product-builder {
  display: flex;
  position: relative;
  gap: 15px;
  overflow: hidden;
}

.product-builder .product-builder__customization-panel {
  width: 350px;
  flex-shrink: 0;
}

@media (min-width: 750px) and (max-width: 1000px) {
  .product-builder:has(.photobook-page) .customization-panel {
    width: 300px;
  }

  .product-builder:has(.photobook-page) .tool__layout-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-builder .product-builder__playground {
  flex-grow: 1;
}

/* Customization panel */
.customization-panel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: translate .3s;
}

adaptive-content[panel-related] {
  z-index: 170;
}

.customization-panel__product {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customization-panel__product-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.customization-panel__product:has(.product-info__title:empty) .customization-panel__product-quantity {
  display: none;
}

.customization-panel__product.customization-panel__product .product-info__image {
  border-radius: 5px;
  object-fit: cover;
}

.customization-panel__product.customization-panel__product .product-info__title {
  font-weight: 600;
  font-size: 14px;
  max-width: 120px;
}

.customization-panel__product.customization-panel__product .product-info__option-selector {
  font-size: 14px;
  color: var(--text-color);
}

.customization-panel__product-quantity {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 3px;
  font-weight: 700;
  letter-spacing: 0.25px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 20px;
  background-color: #E5FEF2;
  color: #03ca82;
  transition: background-color .3s, color .3s;
}

.customization-panel__product-quantity.is-not-enough {
  color: #ff0079;
  background-color: #fff3f3;
}

.customization-panel__product-quantity > span {
  white-space: nowrap;
}

.customization-panel__mobile-gradient {
  display: none;
}

@media (max-width: 749px) {
  .product-builder .customization-panel {
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    top: calc(100% - 90px);
    z-index: 150;
    height: 100%;
  }

  .customization-panel__product {
    padding: 0;
    gap: 15px;
  }

  .customization-panel__product.customization-panel__product .product-info__image {
    display: none;
  }

  .customization-panel__mobile-gradient {
    pointer-events: none;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 150;
    background: linear-gradient(0deg, #FFFFFF 23.05%, rgba(255, 255, 255, 0) 95.13%);
    height: 150px;
    transition: opacity .15s;
  }
}

/* Mobile trigger */
.mobile-trigger {
  cursor: pointer;
}

.mobile-trigger__container {
  width: 120px;
  border-radius: 10px;
  background-color: var(--action-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  gap: 3px;
}

.mobile-trigger__dot {
  border-radius: 50%;
  width: 2px;
  height: 2px;
  background-color: #00000088;
}

/* Tools */
.tools {
  background-color: #fff;
  border-radius: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tools__tabs {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 0 10px;
}

.tools__tab {
  user-select: none;
  outline: none;
  background-color: transparent;
  border: 0;
  padding: 10px 20px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  flex: 1 0 33%;
  transition: color .3s;
}

.tools__tab:not(.is-selected):hover {
  color: var(--title-hover-color);
}

.tools__tab.is-selected {
  color: #000;
}

.tools__tab:hover{
  cursor: pointer;
}

.tools__tabs-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 20px;
  background-color: #e4e4e4;
}

.tools__tabs-runner {
  position: absolute;
  width: 33.33%;
  height: 5px;
  border-radius: 20px;
  position: left;
  background-color: #ff8714;
  transform: translate(100%, -25%);
  left: 0;
  transition: transform .3s;
}

.tools__page-wrapper {
  padding: 10px 0;
  flex-grow: 1;
}


.tools__mobile-trigger {
  display: none;
}

@media (max-width: 749px) {
  .tools__mobile-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
}

/* Pages */

.page {
  display: none;
  height: 100%;
  gap: 15px;
  flex-direction: column;
}

.page.is-selected {
  display: flex;
}

.page__header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  gap: 10px;
}

.page.page--products {
  justify-content: space-between;
}

.page--products .page__search-bar {
  color: var(--title-color);
  flex-grow: 1;
  background-color: var(--action-background);
  border-radius: 50px;
  display: flex;
  gap: 15px;
  padding: 10px 20px;
}

.page--products .page__search-bar input {
  flex-grow: 1;
  outline: none;
  border: 0;
  font-size: 14px;
  line-height: 17px;
  color: var(--title-color);
  background-color: transparent;
}

.page--products .page__product-container {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  margin: 0 10px;
}

.page--products .page__products {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 15px 10px;
  overflow-y: scroll;
}

.tools.product-grid--line .page__products {
  display: block;
}

.tools.product-grid--line .page__products .page__product {
  margin-bottom: 10px;
}

.page__product {
  user-select: none;
  position: relative;
  padding: 10px;
  background-color: var(--action-background);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
}

.page__product .page__product-image {
  object-fit: cover;
  width: 100%;
}

.tools.product-grid--line .page__product {
  flex-direction: row;
  flex-basis: 100%;
  align-items: center;
}

.tools.product-grid--line .page__product .page__product-image {
  width: 78px;
  height: 67px;
  margin-bottom: 0;
}

.page__product.is-selected {
  background-color: transparent;
}

.page__product:hover {
  cursor: pointer;
}

.page__product > * {
  z-index: 1;
}

.page__product.is-selected::before {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  border-radius: 20px;
}

.page__product.is-selected::after {
  content: '';
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  background-color: var(--action-background);
  border-radius: 18px;
}

.page__product-image {
  margin-bottom: 10px;
  border-radius: 20px;
  align-self: center;
}

.page__product-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.page__product-title,
.page__product-price {
  padding: 0 5px;
}

.page__product-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 98%;
}

.page__product-price {
  line-height: 19px;
  color: var(--text-color);
}

.page__product-button {
  margin: 0 10px;
  transition: opacity .3s;
}

@media (max-width: 749px) {
  .page__product-button.button.button--primary {
    position: fixed;
    bottom: 35px;
    width: 240px;
    left: 50%;
    translate: -50% 0;
    margin: 0;
    z-index: 150;
  }

  body:has(.tools__tab:not(.is-selected)[data-tab="products"]) .page__product-button {
    display: none;
  }

  body:not(:has(.page__product.is-selected)) .page__product-button, .button.unshow {
    opacity: 0;
    pointer-events: none;
  }
}
/* Image page */
.page__images {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  bottom: 0;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: flex-start;
  gap: 15px;
  padding-bottom: 15px;
}

.page__images-container {
  padding: 0 10px;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.page__image-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 100%;
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--product-element-background);
  transition: background-color .3s;
}

.page__image-wrapper:not(.is-loading):hover {
  cursor: pointer;
}

.page__image-wrapper.is-loading {
  z-index: 0;
  pointer-events: none;
}

.page__image-wrapper.is-loading::before {
  content: '';
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #f8f8f8;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.page__image-wrapper.is-selected {
  background-color: #000;
}

.page__image-wrapper.is-selected .page__image {
  opacity: 0.7;
}

.page__image-wrapper.is-selected::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12.0156' r='11' fill='%23FF8714'/%3E%3Ccircle cx='12.0193' cy='12.035' r='10.1014' stroke='white' stroke-width='2.44882'/%3E%3Cpath d='M9.26562 11.9902L11.2136 13.9383L15.1097 10.0422' stroke='white' stroke-width='2.44882' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-size: contain;
  z-index: 2;
}

.page__image-wrapper.is-selected .page__image-deleter,
.page__image-wrapper .page__image-deleter {
  opacity: 0;
  pointer-events: none;
}

.page__image-wrapper:not(.is-selected):hover .page__image-deleter {
  pointer-events: all;
  position: absolute;
  padding: 5px;
  z-index: 5;
  opacity: 1;
  transition: opacity .3s;
}

@media (max-width: 750px) {
  .page__image-wrapper:not(.is-selected) .page__image-deleter {
    pointer-events: all;
    position: absolute;
    padding: 5px;
    z-index: 5;
    opacity: 1;
    transition: opacity .3s;
  }
}

.page__image-wrapper .page__image-deleter {
  position: absolute;
  right: 0px;
  top: 0px;
  width: fit-content;
  height: fit-content;
}

.page__image-wrapper .page__image-deleter .page__image-deleter-icon {
  width: 22px;
  height: 22px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__image-wrapper .page__image-deleter .page__image-deleter-icon svg {
  display: block;
}

/* .page__image-wrapper.is-selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
} */

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.page__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  opacity: 1;
  transition: opacity .3s;
}

.page--images .page__upload {
  position: relative;
  margin: 0 10px;
}

.page__upload .upload__wrapper {
  pointer-events: none;
  position: absolute;
  bottom: 50%;
  z-index: -2;
  left: 0;
  right: 0;
  transition: height .3s;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 0;
  overflow: hidden;
}

.page__upload .button {
  z-index: 2;
  width: 100%;
}

.page__upload .upload__wrapper.is-open {
  pointer-events: all;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: -1px 0 5px var(--text-color);
  z-index: 1;
}

@media (max-width: 749px) {
  .page__upload {
    position: fixed;
    bottom: 35px;
    width: 240px;
    left: 50%;
    translate: -50% 0;
    margin: 0;
    z-index: 150;
    opacity: 1;
    transition: opacity .3s;
  }

  body:not(:has(.tools__page.page--images.is-selected)) .page__upload,
  .page__upload.unshow {
    opacity: 0;
    pointer-events: none;
  }
}

/* Tools page */

.page__tools-container {
  position: relative;
  flex-grow: 1;
}

.page__tools-container .page__tools-list {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Tool */
.tool {
  display: block;
  width: 100%;
  opacity: 1;
  transition: opacity .3s;
  background-color: var(--action-background);
  border-radius: 10px;
  user-select: none;
}

.tool__trigger {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}

.tool__trigger .tool__info {
  display: flex;
  gap: 10px;
}

.tool__title {
  font-weight: 700;
  font-size: 14px;
}

.tool__collapsible {
  height: 0;
  overflow: hidden;
  transition: height .3s;
}

.tool__collapsible-inner {
  padding: 15px;
  border-top: 1px solid #e4e4e4;
}

.tool:not([data-open]) .tool__collapsible-inner {
  border-top: 1px solid transparent;
}

.tool__dropdown {
  position: relative;
  height: 0;
  width: 15px;
  padding-bottom: 15px;
}

.tool__plus, .tool__minus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity .3s;
}

.tool[data-open] .tool__plus {
  opacity: 0;
}

.tool:not([data-open]) .tool__minus {
  opacity: 0;
}

.tool__layout-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 3px;
}

.tool__layout-grid .layout-icon {
  width: 57px;
  height: 57px;
  display: flex;
}

.layout-icon {
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  background-color: #fff;
}

.layout-icon svg {
  z-index: 5;
}

.layout-icon .layout__border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 7px;
  z-index: 1;
}

.layout-icon::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  border-radius: 7px;
  transition: opacity .3s;
  z-index: 2;
}

.layout-icon::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 3;
}

.layout-icon.is-selected::before {
  opacity: 1;
}

/* Text tool */
.text-tool {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  border: 1px solid #e4e4e4;
}

.tool.center .text-tool__text {
  text-align: center;
}

.tool.left .text-tool__text {
  text-align: left;
}

.tool.right .text-tool__text {
  text-align: right;
}

.text-tool__header {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f8f8f8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  justify-content: flex-end;
}

.text-tool__header .text-tool__selector-wrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* .text-tool__header .text-tool__selector-wrapper:first-of-type {
  border-right: 1px solid #e4e4e4;
  padding-right: 20px;
}

.text-tool__header .text-tool__selector-wrapper:last-of-type {
  padding-left: 20px;
} */

.text-tool__header .text-tool__selector {
  background-color: transparent;
  outline: 0;
  border: 0;
  appearance: none;
  color: var(--text-color);
}

.text-tool__text {
  padding: 15px;
  background-color: #fff;
  outline: none;
  border: 0;
  border-radius: 10px;
  resize: none;
}

.text-tool__tools {
  display: flex;
  padding: 10px 0;
  background-color: #f8f8f8;
}

.text-tool__item {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0 15px;
}

.text-tool__item:not(:last-of-type) {
  border-right: 1px solid #e4e4e4;
}

.text-tool__button {
  cursor: pointer;
  display: flex;
  width: 22px;
  height: 22px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid transparent;
  transition: background-color .3s, color .3s, border-color .3s;
  border-radius: 4.5px;
}

.text-tool__button.is-active {
  color: #000;
  background-color: #fff;
  border-color: #e4e4e4;
}

/* Rotate tool */
.rotate-tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.rotate-tool .rotate-tool__button {
  cursor: pointer;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  color: #555;
  transition: color .3s;
}

.rotate-tool .rotate-tool__button:hover {
  color: #ff8714;
}

.rotate-tool .slider {
  flex-grow: 1;
}

/* Move tool */
.move-tool {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.move-tool__content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
}

/*.editable-picture__image {*/
/*  opacity: 0 !important;*/

/*}*/

/*.editable-picture__image.editable-picture__preview-image {*/
/*  opacity: 1 !important;*/
/*}*/

.move-tool__content-wrapper > p {
  padding: 0 5px;
}

.move-tool__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.move-tool__content .slider {
  flex-grow: 1
}

/* Crop tool */
.crop-tool {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.crop-tool__slider {
  flex-grow: 1;
}

.crop-tool__value {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  flex-shrink: 0;
  width: 60px;
  background-color: #fff;
}

.crop-tool__value-input {
  flex-grow: 1;
  text-align: center;
  appearance: none;
  background-color: transparent;
  outline: none;
  border: 0;
  width: 20px;
  font-weight: 700;
  line-height: 22px;
}

.crop-tool__value-input::-webkit-outer-spin-button,
.crop-tool__value-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.crop-tool__value-input[type=number] {
  -moz-appearance: textfield;
}

/* Background tool */
.background-tool {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.background-tool__button {
  cursor: pointer;
  appearance: none;
  border-radius: 30px;
  background-color: transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  transition: background-color .3s;
  max-width: 90px;
  overflow: hidden;
}

.background-tool__button.is-selected {
  background-color: #fff;
}

.background-tool__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #ddd;
}

.background-tool__title {
  flex-shrink: 0;
  flex-grow: 1;
  text-align: left;
  background-color: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #555;
}

/* Upload */
.upload__wrapper .upload__variant {
  position: relative;
  color: var(--text-color);
  background-color: #fff;
  transition: background-color .3s;
}

.upload__wrapper .upload__variant:hover,
.upload__wrapper .upload__variant:hover label {
  cursor: pointer;
  background-color: var(--action-background);
}

.upload__variant input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.upload__variant input + label,
.upload__variant > span {
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px 20px;
}


/* switch */
.switch {
  box-sizing: content-box;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1px;
  border-radius: 50px;
  background: var(--action-background);
  color: var(--title-color);
}

.switch__runner {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #fff;
  top: 1px;
  bottom: 1px;
  transform: translateX(0%);
  border-radius: 50%;
  transition: transform .3s;
}

.switch__item {
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1;
  transition: color .3s;
}

.switch__item.is-selected {
  color: #ff8714;
}

.switch__item:hover {
  cursor: pointer;
}

/* option selector */
product-option-selector {
  display: block;
}

.option-selector {
  position: relative;
  user-select: none;
  width: fit-content;
}

.option-selector__selected {
  display: flex;
  gap: 7px;
  align-items: center;
}

.option-selector__selected:hover {
  cursor: pointer;
}

.option-selector:has(.option-selector__options:empty) {
  display: none;
}

.option-selector__options {
  position: absolute;
  top: 100%;
  display: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: max-content;
  min-width: 140px;
  background-color: #fff;
  z-index: 50;
}

.option-selector__options.is-open {
  display: flex;
  flex-direction: column;
}

.option-selector__item {
  padding: 10px 20px;
  font-size: 14px;
  line-height: 98%;
}

.option-selector__item:first-of-type {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.option-selector__item:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.option-selector__item:hover {
  cursor: pointer;
  background-color: #f8f8f8
}

/* Radio */
.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.radio:hover {
  cursor: pointer;
}

.page__radio.radio {
  color: var(--text-color);
  font-size: 14px;
  padding: 0 5px;
}

.radio__toggler {
  position: relative;
  background-color: #FF8714;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.radio__toggler::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color .3s;
}

.radio.option-2 .radio__toggler::before {
  background-color: transparent;
}

/* Studio View */
.studio-view {
  border-radius: 20px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

/* .studio-view.is-zoomed .studio-view__container {
  overflow-y: visible;
} */

.studio-view.is-zoomed .studio-view__container:hover,
.studio-view.is-zoomed .studio-view__container .studio-view__block:hover,
.studio-view.is-zoomed .studio-view__container .product-element:hover {
  cursor: move;
}

.product-builder__playground-container {
  position: absolute;
  top: 35px;
  left: 35px;
  right: 0px;
  bottom: 35px;
  padding: 15px;
  padding-right: 100px;
  overflow-y: scroll;
}

.studio-view__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 100px;
  bottom: 0;
  padding: 0;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 25px 20px;
  overflow: visible;
  transform-origin: 50% 50%;
}

.studio-view__container.on-drag > * {
  pointer-events: none;
} 

.studio-view__anchor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.studio-view__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  user-select: none;
  transition: opacity .3s;
}

.studio-view__block.block__photobook-page {
  width: 100%;
}


.studio-view__block:not(.block__photobook-page)::before {
  content: '';
  position: relative;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  height: 5px;
  background-color: var(--product-element-is-selected);
  border-radius: 20px;
  opacity: 0;
  transition: opacity .2s ease-out;
}

.studio-view__block:not(.block__photobook-page).is-selected::before {
  opacity: 1;
}

.studio-view .studio-view__bottom-padding {
  order: 2;
  width: 100%;
  height: 50vh;
}

@media (max-width: 749px) {
  .studio-view {
    background-color: transparent;
  }

  .studio-view__container {
    right: 0;
    justify-content: center;
    gap: 15px 15px;
  }

  .product-builder__playground-container {
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding: 15px;
  }

  .studio-view .studio-view__bottom-padding {
    height: 70vh;
  }
}

/* Product Element */
product-element {
  display: block;
}

.product-element {
  user-select: none;
  position: relative;
  opacity: 1;
  transition: opacity .3s;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-element:hover {
  cursor: pointer;
}

.product-element::after {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 1;
}

.product-element .editable-picture,
.product-element .text-tool {
  z-index: 5;
}

.product-element .product-element__picture {
  width: 100%;
  height: 100%;
}

.product-element.is-default .editable-picture {
  width: 200px;
  height: 200px;
}

/* Editable picture */
editable-picture {
  display: block;
  z-index: 0;
}

.editable-picture {
  position: relative;
  background-color: var(--product-element-background);
  box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.25);
  transition: background-color .3s;
  overflow: hidden;
}

.editable-picture:not(.is-empty) {
  background-color: #fff;
}

.editable-picture.is-empty:hover,
.editable-picture.is-selected,
.editable-picture.is-empty.is-dragover {
  background-color: var(--product-element-hover-background);
}

.editable-picture:hover {
  cursor: pointer;
}

.editable-picture:not(.is-empty).is-dragover {
  border: 2px solid var(--product-element-hover-background);
}


.editable-picture.is-empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.editable-picture:not(.is-empty).is-selected {
  background-color: #fff;
}

.editable-picture.is-loading::before {
  content: '';
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #f8f8f8;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}

.editable-picture.is-loading img {
  opacity: 0;
}

.editable-picture.is-empty .editable-picture__empty-state.empty-state--big {
  display: flex;
  gap: 5px;
  color: #ff0079;
  font-size: 14px;
  border-radius: 50px;
  max-width: 220px;
  text-align: center;
}

.editable-picture:not(.is-empty) .editable-picture__empty-state {
  display: none;
}

.editable-picture.is-empty .editable-picture__empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  /* max-width: 15%; */

  /* aspect-ratio: 1; */
}

.editable-picture .editable-picture__mover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
}

.editable-picture .editable-picture__image {
  transition: opacity .3s;
  transform-origin: center;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.editable-picture .editable-picture__mask {
  position: absolute;
  inset: 0;
  opacity: 1;
  transition: opacity .3s;
}

.editable-picture .editable-picture__mask svg {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  object-fit: contain;
}

/* .editable-picture .editable-picture__image:not(.editable-picture__preview-image) {
  opacity: 0 !important;
}

.editable-picture .editable-picture__preview-image {
  opacity: 1 !important;
} */

.editable-picture:not(.is-empty).is-selected .editable-picture__preview-image {
  /*opacity: 0.85;*/
}

.editable-picture__image.editable-picture__preview-image {
  object-fit: contain;
}

/* product-controls */
product-controls {
  display: inline-flex;
  justify-content: center;
}

.product-controls {
  padding: 0 10px;
  margin: 0 auto;
  color: var(--text-color);
  width: 100%;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  align-items: center;
  gap: 20px;
  opacity: 1;
  /* pointer-events: none; */
  transition: opacity 0.3s;
  max-width: 300px;
  width: fit-content
}

.editable-picture .product-controls--picture {
  position: absolute;
  pointer-events: all;
  top: 50%;
  left: 50%;
  max-width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: 25;
}

.editable-picture.is-selected:not(.is-empty):hover .product-controls--picture {
  opacity: 1;
}

/* .studio-view__block:hover .product-builder__element + .product-controls,
.studio-view__block > .product-builder__element.is-selected + .product-controls,
.studio-view__block:hover .product-element + .product-controls,
.studio-view__block > .product-element.is-selected + .product-controls {
  pointer-events: all;
  opacity: 1;
} */

.product-controls__button {
  color: var(--text-color);
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: color .3s, background-color .3s, opacity .3s;
}

.product-controls__button:hover {
  cursor: pointer;
  color: #000;
}

.product-controls .product-controls__quantity .product-controls__button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.product-controls__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.product-controls__quantity span {
  min-width: 25px;
  text-align: center;
  color: #000;
}

.product-controls__quantity .product-controls__button {
  background-color: var(--action-background);
  transition: background-color .3s;
}

.product-controls__quantity .product-controls__button:hover {
  background-color: #e4e4e4;
}

/* Error Toast */
error-toast {
  display: flex;
}

.error-toast {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 600;
  background-color: #fff3f3;
  color: #ff0079;
  border-radius: 20px;
  opacity: 0;
  padding: 15px 20px;
  transition: transform .3s cubic-bezier(0,-0.01,.27,1.4), opacity .3s;
  font-size: 16px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  z-index: 1000;
}

.error-toast[show] {
  opacity: 1;
  transform: translate(-50%, calc(-100% - 100px));
}

.error-toast__errors {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-toast__errors span {
  text-align: center;
}

/* Image chooser */
image-chooser {
  display: block;
}

.image-chooser {
  position: absolute;
  display: none;
  padding: 10px;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background-color: #fff;
  opacity: 0;
  transition: opacity .3s;
  border-radius: 20px;
  z-index: 10;
}

.image-chooser.is-open {
  opacity: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 200;
}

@media (max-width: 749px) {
  .image-chooser {
    inset: 10px 10px 0;
  }
}

.image-chooser .images-list-container {
  flex-grow: 1;
  position: relative;
}

.image-chooser .images-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 20px;
  gap: 15px;
}

.image-chooser .button-group {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 2px solid #efefef;
}

.image-chooser .button-group .button-group__action {
  display: flex;
  gap: 15px;
}

.image-chooser .image-chooser__logout {
  order: -1;
  justify-content: center;
}

.image-chooser .button-group .button--primary {
  min-width: 200px;
}

.image-chooser .image-container {
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: #efefef;
  border-radius: 20px;
  transition: background-color 0.3s .3s;
}

.image-chooser .image-container.folder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
}

.image-chooser .image-container .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 20px;
  transition: opacity .3s;
  object-fit: cover;
}

.image-chooser .image-container.folder .image {
  position: relative;
  opacity: 1;
  border-radius: 0;
  transition: opacity .3s;
  object-fit: cover;
}

.image-chooser .image-container.is-selected {
  background-color: #000;
  transition: background-color 0s;
}

.image-chooser .image-container.is-selected .image {
  opacity: 0.75;
}

.image-chooser .image-container span.select-tag {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.image-chooser .image-container.is-selected span.select-tag {
  display: block;
}

.image-chooser:hover {
  cursor: pointer;
}

.image-chooser .image-chooser__login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-chooser .button.button--facebook {
  background-color: #4674DC;
  border: 1px solid #4674DC;
  color: #fff;
  position: relative;
}

.image-chooser .button.button--facebook.button::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50px;
  transition: background-color .3s;
}

.image-chooser .button.button--facebook.button:hover::before {
  background-color: rgba(0,0,0,0.05);
}

@media (max-width: 749px) {
  .image-chooser .button-group {
    gap: 15px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .image-chooser .button-group__action {
    max-width: 50%;
    min-width: 280px;
    flex-direction: row-reverse;
  }

  .image-chooser .button-group .button--primary {
    flex-grow: 1;
    min-width: auto;
  }

  .image-chooser .image-chooser__logout {
    width: 50%;
    min-width: 280px;
  }
}

/* Photobook element */
.photobook-element {
  width: 100%;
  position: relative;
  border: 1px solid #ddd;
  opacity: 1;
  transition: border-color .3s, opacity .15s, background-color .3s, color .3s;
  --textarea-font-size: 16px;
  cursor: pointer;
  display: grid;
  box-shadow: 0px 70.8148px 44.2593px -70.8148px rgba(0, 0, 0, 0.25);
  aspect-ratio: 2 / 1;
}

.photobook-element::before {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
}

/* Photobook page */
.photobook-element.is-selected {
  border-color: #ff8714;
}

.photobook-page {
  aspect-ratio: 2 / 1;
}

.photobook-page .photobook-page__gradient {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 80px;

  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.1;

  transition: opacity .3s;
  z-index: 1;
}

.photobook-cover__gradient {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 16%;
  z-index: 1;
  transition: opacity .3s;
  overflow: hidden;
}


.photobook-cover__gradient .gradient__colors {
  position: absolute;
  left: 10%;
  top: 0;
  bottom: 0;
  width: 50%;
  box-shadow: 3px 0px 14px 0px #00000030;
}

.photobook-cover editable-text {
  z-index: 5;
}

.photobook-page[layout="whole"] {
  padding: 3.5%;
  display: flex;
}

.photobook-page[layout="whole"] .editable-picture {
  width: 100%;
  height: 100%;
}

.photobook-page[layout="wholeFrameless"] {
  display: flex;
}

.photobook-page[layout="wholeFrameless"] .editable-picture {
  width: 100%;
  height: 100%;
}


.photobook-page[layout="bigWithThreeSquare"] {
  padding: 4%;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5%;
  grid-template-columns: repeat(27, 1fr);
}

.photobook-page[layout="bigWithThreeSquare"] .editable-picture:first-of-type {
  grid-area: 1 / 1 / -1 / 24;
}

.photobook-page[layout="bigWithThreeSquare"] .editable-picture:nth-of-type(2) {
  grid-area: 1 / 24 / 2 / -1;
}

.photobook-page[layout="bigWithThreeSquare"] .editable-picture:nth-of-type(3) {
  grid-area: 2 / 24 / 3 / -1;

}

.photobook-page[layout="bigWithThreeSquare"] .editable-picture:nth-of-type(4) {
  grid-area: 3 / 24 / -1 / -1;
}

.photobook-page[layout="rightImageWithText"],
.photobook-page[layout="leftImageWithText"],
.photobook-page[layout="twoRectangleImagesWithText"] {
  grid-template-columns: 1fr 1fr;
}

.photobook-page[layout="twoRectangleImagesWithText"] > div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 15% 10%;
}

.photobook-page[layout="twoRectangleImagesWithText"] > div .editable-picture {
  flex-grow: 1;
}

/* Photobook Cover */
.studio-view__block:has(.photobook-cover) {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photobook-cover {
  display: flex;
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.photobook-cover[layout="wholeTextCover"] {
  padding: 12% 12% 8% 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.photobook-cover[layout="wholeTextCover"] .editable-picture {
  width: 100%;
  aspect-ratio: 1;
}

.photobook-cover[layout="wholeFramelessCover"] .editable-picture {
  position: absolute;
  inset: 0;
}

.photobook-cover[layout="wholeUpWithTextCover"],
.photobook-cover[layout="wholeDownWithTextCover"] {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10%;
  justify-content: center;
}

.photobook-cover[layout="wholeUpWithTextCover"] .editable-picture,
.photobook-cover[layout="wholeDownWithTextCover"] .editable-picture{
  flex-grow: 1;
}

.photobook-cover[layout="wholeUpWithTextCover"] editable-text {
  justify-content: center;
  padding: 9% 20% 6%;
}

.photobook-cover[layout="wholeDownWithTextCover"] editable-text {
  justify-content: center;
  padding: 6% 20% 9%;
}

.photobook-cover[layout="wholeDownWithTextCover"] {
  flex-direction: column-reverse;
}


/* Editable text */
editable-text {
  display: flex;
}

.product-element editable-text {
  z-index: 10;
}

editable-text .textarea {
  border: 1px solid transparent;
  transition: border-color .3s;
}

.textarea p {
  margin: 0;
  pointer-events: none;
}

editable-text.is-selected .textarea {
  border-color: #ff8714;
}

.photobook-page .textarea-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  align-self: center;
}

.photobook-page .textarea {
  /* border: 0; */
  padding: 10px;
  border-radius: 15px;
  outline: 0;
  max-width: 300px;
  overflow-wrap: break-word;
  height: 100%;
}

.textarea-container[text-align="center"] .textarea {
  text-align: center;
}

.textarea-container[text-align="left"] .textarea {
  text-align: left;
}

.textarea-container[text-align="right"] .textarea {
  text-align: right;
}

.textarea-container[is-bold="true"] .textarea {
  font-weight: 700;
}

.textarea-container[is-italic="true"] .textarea {
  font-style: italic;
}

.textarea-container[is-underline="true"] .textarea {
  text-decoration: underline;
}

/*.textarea-container[font="Times New Roman"] .textarea {*/
/*  font-family: 'Times New Roman', Times, serif;*/
/*}*/

/*.textarea-container[font="Arial"] .textarea {*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/

/*.textarea-container[font="Calibri"] .textarea {*/
/*  font-family: Calibri, 'Trebuchet MS', sans-serif;*/
/*}*/

/* Slider */
.slider {
  position: relative;
  border-radius: 40px;
  height: 10px;
}

.slider__range {
  position: relative;
  height: 100%;
}

.slider__input {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  appearance: none;
  opacity: 0;
  height: 400%;
  margin: 0;
  cursor: pointer;
}

.slider__input::-webkit-slider-thumb,
.slider__input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 58px;
  height: 58px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
}

.slider__full-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 40px;
  height: 10px;
  overflow: hidden;
}

.slider__value-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  z-index: 2;
  width: 50%;
}

.slider__holder {
  cursor: pointer;
  position: absolute;
  left: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 50%;
  z-index: 3;
  transform: translate(-50%, -50%);
}

.slider__holder::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
}

.slider__holder-strip {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.slider__holder-strip::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ff8714;
}

.slider__holder-strip::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 8px;
  background-color: #ff8714;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px;
}

/* View Controls */
view-controls {
  display: flex;
}

.view-controls {
  flex-direction: column;
  gap: 10px;
  padding: 5px;
  border-radius: 50px;
  background-color: #f8f8f8;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 50;
}

.view-controls__button {
  cursor: pointer;
  appearance: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: border-color .3s, background-color .3s;
}

.view-controls__button:hover {
  border-color: #e4e4e4;
}

.view-controls__button.is-disabled {
  background-color: #f4f4f4;
  border-color: #fff;
}

@media (max-width: 749px) {
  .view-controls {
    position: fixed;
    top: 80px;
    right: 10px;
  }

  .view-controls__button[data-zoom-in],
  .view-controls__button[data-zoom-out] {
    display: none;
  }
}

/* Prints */
product-prints {
  display: block;
}

.prints {
  border: 1px solid #00000022;
}

.prints[print-type="9-13"] .editable-picture {
  width: 150px;
  aspect-ratio: 9 / 13;
}

.prints[print-type="10-15"] .editable-picture {
  width: 180px;
  aspect-ratio: 10 / 15;
}

.prints[print-type="15-21"] .editable-picture {
  width: 200px;
  aspect-ratio: 15 / 21;
}

.prints[print-type="20-30"] .editable-picture {
  width: 250px;
  aspect-ratio: 20 / 30;
}

.prints[print-type="30-40"] .editable-picture {
  width: 300px;
  aspect-ratio: 30 / 40;
}

/* Canvas */
product-canvas {
  display: block;
}

.canvas {
  border: 1px solid #00000022;
  width: 100%;
}

.canvas[print-type="30-40"] .editable-picture {
  width: 100%;
  aspect-ratio: 3 / 4;
}

.canvas[print-type="30-30"] .editable-picture {
  width: 100%;
  aspect-ratio: 1;
}

.canvas[print-type="40-40"] .editable-picture {
  width: 100%;
  aspect-ratio: 1;
}

.studio-view__block:has(.canvas[print-type="30-40"]) {
  max-width: 500px;
  width: 60%;
}

.studio-view__block:has(.canvas[print-type="30-30"]) {
  max-width: 500px;
  width: 60%;
}

.studio-view__block:has(.canvas[print-type="40-40"]) {
  max-width: 750px;
  width: 80%;
}

/* Prints - Polaroid */
polaroid-prints {
  cursor: pointer;
  display: flex;
}

.polaroid {
  aspect-ratio: 2 / 3;
  width: 300px;
}

@media (max-width: 400px) {
  .polaroid {
    width: 250px;
  }
}

.prints.prints__polaroid {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.25), 0px 4px 8px rgba(0, 0, 0, 0.09);
  transition: background-color .3s, color .3s;
}

.prints.prints__polaroid .editable-picture {
  aspect-ratio: 1 / 1;
  height: auto;
}

.polaroid .polaroid__text-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.polaroid .polaroid__text-wrapper .textarea-container {
  width: 100%;
}

.polaroid .polaroid__text-wrapper .textarea-container .textarea {
  font-size: 24px;
  width: 100%;
}

/* Puzzle */
product-puzzle {
  display: block;
}

.puzzle {
  /* width: 400px; */
  height: 100%;

  border: 1px solid #00000088;
}

.puzzle[puzzle-type="96"] {
  aspect-ratio: 2 / 3;
}

.puzzle[puzzle-type="192"] {
  aspect-ratio: 3 / 4;
}

.puzzle[puzzle-type="513"] {
  aspect-ratio: 5 / 7;
}

.puzzle .editable-picture {
  width: 100%;
  /* aspect-ratio: 2 / 3; */
  z-index: 15;
}

.puzzle[puzzle-type="192"] .editable-picture {
  /* aspect-ratio: 3 / 4; */
}

.puzzle[puzzle-type="513"] .editable-picture {
  /* aspect-ratio: 5 / 7; */
}

.studio-view__block:has(.puzzle) {
  height: 100%;
}

@media (min-width: 750px) and (max-width: 1020px) {
  .studio-view__block:has(.puzzle) {
    max-height: 100%;
    height: auto;
    width: 75%;
  }

  .puzzle {
    width: 100%;
  }
}

@media (max-width: 749px) {
  .studio-view__block:has(.puzzle) {
    width: 75%;
    height: auto;
  }

  .puzzle {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 500px) {
  .studio-view__block:has(.puzzle) {
    width: 100%;
  }
}

.puzzle .puzzle__template-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 16;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  opacity: 0.6;
}

/* Magnet */
product-magnet {
  display: block;
}

.magnet {
  width: 250px;
  aspect-ratio: 1 / 1;
}

.magnet.magnet--circle .editable-picture {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
/* Tile */
.studio-view__container:has(.tile) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 855px) and (max-width: 1000px) {
  .studio-view__container:has(.tile) {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 750px) and (max-width: 855px) {
  .studio-view__container:has(.tile) {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 749px) {
  .studio-view__container:has(.tile) {
    grid-template-columns: 1fr;
  }
}

product-tile {
  display: block;
}

.tile {
  width: 70%;
  padding: 0px;
  aspect-ratio: 1;
  background-color: #fff;
  margin: 5% 0;
}

.tile__frame {
  pointer-events: none;
  position: absolute;
  inset: -12.5%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

/* Add block button */
.studio-view__button-add-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studio-view__button-add {
  cursor: pointer;
  appearance: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Related products */
related-products {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 100;
  width: 880px;
  opacity: 1;
  transition: opacity .3s;
  max-width: 85%;
}

related-products[state="open"] {
  display: flex;
}

.related-products {
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.related-products__header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 600;
  font-size: 14px;
}

.related-products__exit-btn {
  position: absolute;
  left: 0;
  top: 50%;
  translate: 0 -50%;
}

.related-products__exit-btn svg {
  width: 18px;
  height: 18px;
}

.related-products__content {
  display: flex;
  /* gap: 30px; */
  justify-content: space-between;
  align-items: center;
}

.related-products__main-image {
  object-fit: contain;
  border-radius: 20px;
  flex: 0 0 calc(50% - 15px);
}

.related-products__items {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px 20px;
  flex-direction: column;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: visible;
}

.related-products__checkout-btn {
  width: 355px;
  margin: 0 auto;
}

.related-products__gradient {
  display: none;
}

@media (max-width: 749px) {
  .related-products {
    width: auto;
    left: 20px;
    right: 20px;
    translate: 0 -50%;
    z-index: 200;
    padding: 20px 0px;
    gap: 10px;
    max-width: none;
  }

  .related-products__header {
    padding: 10px;
  }

  .related-products__main-image {
    display: none;
  }

  .related-products__exit-btn {
    background-color: transparent;
    left: 20px;
    padding: 10px;
  }

  .related-products__exit-btn span {
    display: none;
  }

  .related-products__items {
    flex-grow: 1;
  }

  .related-products__checkout-btn {
    width: 240px;
  }

  .related-products__gradient {
    display: block;
    position: fixed;
    inset: 0;
    background-color: #00000044;
    z-index: 190;
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
  }

  .related-products__gradient.show {
    opacity: 1;
  }
}

/* Related Product */
.related-product {
  display: flex;
  cursor: pointer;
  gap: 20px;
  padding: 20px;
  position: relative;
  background-color: var(--action-background);
  border-radius: 20px;
  align-items: center;
}

.related-product::before {
  content: '';
  display: block;
  position: absolute;
  inset: -2px;
  background: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  border-radius: 22px;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s;
}

.related-product.is-selected::before {
  opacity: 1;
}

.related-product__image {
  object-fit: cover;
  border-radius: 10px;
  width: 100px;
  height: 85px;
}

.related-product__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.related-product__title {
  font-weight: 600;
  font-size: 16px;
}

.related-product__add-btn {
  justify-content: center;
}

.related-product__check {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  translate: -50% -50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90deg, #FF0079 0%, #FF8714 100%);
  transition: opacity .35s;
}

.related-product.is-selected .related-product__check {
  opacity: 1;
  transition: opacity .2s;
}

@media (max-width: 749px) {
  .related-product {
    display: grid;
    grid-template-areas: 
      "info info info image"
      "info info info button";
    grid-template-columns: 1fr 1fr 1fr 100px;    
  }

  .related-product__image {
    grid-area: image;
  }

  .related-product__add-btn {
    grid-area: button;
  }

  .related-product__content {
    grid-area: info;
  }

  .related-product .related-product__check {
    display: none;
  }
}

div[data-header-group] {
  display: flex;
  gap: 10px;
}