body {
  margin: 0;
  background-color: #EFEFEF;
  padding: 25px;
}

body:has(.tile) {
  background-color: #03ca82;
}

body > .studio-view {
  border-radius: 30px;
  background-color: #fff;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.studio-view__container {
  position: absolute;
  inset: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-items: center;
  flex-wrap: wrap;
  overflow: auto;
}

.studio-view__container:has(.tile) {
  gap: 50px;
}

.studio-view__container.pdf {
  position: relative;
  inset: 0;
}

.product-element, .product-element * {
  cursor: default;
}

.studio-view__container.pdf:has(.product-element:only-of-type) {
  /* justify-content: center;
  align-items: center; */

  display: grid;
  grid-template-columns: 1000px 1000px;
}

.studio-view__container.pdf:has(.prints__polaroid) {
  gap: 50px 20px;
}

.studio-view__container.pdf:has(.magnet) {
  justify-content: space-evenly;
  gap: 10px;
}

.studio-view__container.pdf > .magnet {
  /* width: 50%; */

}

.pdf .magnet {
  overflow: hidden;
}

/* .studio-view__container.pdf .prints__polaroid:nth-child(16n),
.studio-view__container.pdf .prints__polaroid:nth-child(16n - 1),
.studio-view__container.pdf .prints__polaroid:nth-child(16n - 2),
.studio-view__container.pdf .prints__polaroid:nth-child(16n - 3) {
  margin-bottom: 125px;
} */

.product-element.Black,
.product-element.Red,
.product-element.Orange,
.product-element.Blue,
.product-element.Indigo,
.product-element.Purple {
  color: #fff;
}

.puzzle {
  width: 500px;
}

.textarea-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.textarea-container[text-align="center"] {
  text-align: center;
  font-size: 24px;
}

.textarea-container[text-align="left"] {
  text-align: left;
}

.textarea-container[text-align="right"] {
  text-align: right;
}

.tile.in-view .tile__frame {
  inset: -11px -9px -9px -11px;
}

.tile.in-view .editable-picture .editable-picture__mask svg {
  z-index: 1;
}

.tile.in-view .editable-picture .editable-picture__mask {
  inset: 3%;
}